@page "/"
  <Row Class="mb-4">
        <Column Class="text-left">
            <h1>Click</h1>
        </Column>
        <Column Class="text-right pt-2">
       
                <Button Color="Color.Danger" Clicked="SendEmailAsync" Class="ml-1">Send Email</Button>
            
        </Column>
    </Row>